table {
	width: 100%;
	border: 1px solid #DDD;
}

th {
	border: 1px solid #DDD;
	background-color: #DDD;
}

td {
	border: 1px solid #DDD;
	width: 50%;
}

td.g3 {
	border: 1px solid #DDD;
	width: 33.333%;
}

.enter {
	text-align: center;
	padding: 20% 0;
}

select, input, option {
	width: 200px;
}

.req {
	background-color: #EEE;
	margin: 10px 0;
	padding: 5px;
}